@import '../../App.scss';


.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    width: 100%;
    will-change: contents;
    height: 100%;
   padding-top: 10%;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;


    @media screen and (max-width:500px) {
        margin-top: 80%;
        width: 100%;
    }
}
.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
  }
