@import '../../App.scss';

.main-photo {

    max-width: 80%;
    @media screen and (max-width:500px) {
    max-width:95%; 
 }
}

.title{
    font-family: 'Space Mono', monospace;
    padding-bottom: 20px;
    h1{
        font-size: 70px;
        @media screen and (max-width:500px) {
            font-size: xx-large;
        }
    }
    h3{
        font-size: 30px;
        @media screen and (max-width:500px) {
            font-size: large;
        }
    }
    @media screen and (max-width:500px) {
        max-width:90%; 
        margin: 0 auto;
        padding-bottom: 20px;
     }
}

.about{
    background: $text-bg-color;
    padding: 100px;
    max-width:90%; 
    margin:30px auto;
    color: black;
    text-align: justify;
    font-size: 25px;

    @media screen and (max-width:500px) {
        padding: 30px;
        font-size: medium;

    }
}